@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .prose h1 {
    font-size: 2.25rem; /* 36px */
    font-weight: bold;
  }
  
  .prose h2 {
    font-size: 1.875rem; /* 30px */
    font-weight: bold;
  }
  
  .prose h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: bold;
  }
  
  .prose h4 {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
  }
  
  .prose h5 {
    font-size: 1.125rem; /* 18px */
    font-weight: bold;
  }
  
  .prose h6 {
    font-size: 1rem; /* 16px */
    font-weight: bold;
  }
  
.ant-upload-list-item-container {
  margin-top: 10px;
}